@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --white: #fff;
    --black: #000;
    --lilas: #9353FF;
    --verde-limao:#DAFF01;
    --cinza-claro: #E3E1D9;
    --cinza-escuro: #444;

    --font-primaria:'Montserrat', sans-serif;
    --font-secundaria: 'Poppins', sans-serif;
}
.preview__produtos{
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background: #E5D1FA;
    display: none;
    align-items: center;
    justify-content: center;
}

.preview__produtos__card{
    display: none;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    background-color: var(--white);
    position: relative;
    margin: 2rem;
    width: 50rem;
}

.preview__produtos__card.active{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px; 
}

.preview__produtos__card-descricao{
    width: 35%;
}

.preview__produtos .preview__produtos__card img{
    height: 30rem;
    width: 55%;
}
.preview__produtos__card-descricao h3{
    color: var(--lilas);
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 20px;
}
.preview__card-produto{
    margin-bottom: 20px;
}

.stars i{
    color: var(--cinza-claro);
    margin-bottom: 20px;
}
.preview__card-text.preco-sem-desconto{
    color: var(--cinza-escuro);
    opacity: 0.8;
    font-size: 0.9em;
    margin-bottom: 8px;
}
.preview__card-text.preco-com-desconto{
    font-weight: 600;
    margin-bottom: 8px;
}
.preview__btn-produto{
    color: var(--white);
    background-color: var(--lilas);
    padding: 10px;
}
.preview__btn-produto:hover{
    opacity: 0.5;
}
.preview__produtos .preview__produtos__card .fa-times{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
    color: var(--cinza-escuro);
    font-size: 2rem;
}

