@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --white: #fff;
    --black: #000;
    --lilas: #9353FF;
    --verde-limao:#DAFF01;

    --font-primaria:'Montserrat', sans-serif;
    --font-secundaria: 'Poppins', sans-serif;
}

section.slider{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 0 !important;
    overflow: hidden;
}
.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}
.slider-content input{
    display: none;
}
.slide-box{
    width: 25%;
    height: 100%;
    object-fit: cover;
    position: relative;
    text-align: center;
    transition: 1s;
}
.slide-box img{
    padding-top: 4%;
    width: 100vw;
}
.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 35%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid var(--cinza);
    padding: 1px 5px;
    cursor: pointer;
    transition: 0.2s;
    opacity: 0.5;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 5px;
}

.nav-manual .manual-btn:hover{
    background-color: var(--cinza);
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3, #radio4:checked ~ .nav-auto .auto-btn4, #radio5:checked ~ .nav-auto .auto-btn5, #radio6:checked ~ .nav-auto .auto-btn6{
    background-color: var(--cinza);
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
}

#radio4:checked ~ .primeiro{
    margin-left: -75%;
}

#radio5:checked ~ .primeiro{
    margin-left: -100%;
}

#radio6:checked ~ .primeiro{
    margin-left: -125%;
}

@media(max-width: 768px) {
    .slide-box img{
        padding-top: 6%;
        width: 100vw;
    }
}
@media(max-width: 450px) {
    .slide-box img{
        padding-top: 8%;
        width: 100vw;
    }
}
